@model KartApplication.Models.AreaChange
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; 
}

<br>


<table class="tablesaksbehandler" id="saksbehandlermenu">
    <thead>
        <tr>
            <th>ID Nummer</th>
            <th>Rolle</th>
            <th>Navn</th>
            <th>Kommune</th>
            <th>E-posta adresse</th>
            <th>Mobil</th>

        </tr>
    </thead>
    <tbody id="saksbehandlersaks">
        <tr onclick="window.location.href='admin/oppdatere'" style="cursor: pointer;">
            <td>123456789</td>
            <td>Saksbehandler</td>
            <td>Ahmet Kirac</td>
            <td>Kristiansand</td>
            <td>Kristreferfiansa@gmail.com</td>
            <td>123456789</td>
        </tr>
        <tr onclick="window.location.href='admin/oppdatere'" style="cursor: pointer;">
            <td>123456789</td>
            <td>Saksbehandler</td>
            <td>Ahmet Kirac</td>
            <td>Kristiansand</td>
            <td>Kristreferfiansa@gmail.com</td>
            <td>123456789</td>
        </tr>
        <tr onclick="window.location.href='admin/oppdatere'" style="cursor: pointer;">
            <td>123456789</td>
            <td>Saksbehandler</td>
            <td>Ahmet Kirac</td>
            <td>Kristiansand</td>
            <td>Kristreferfiansa@gmail.com</td>
            <td>123456789</td>
        </tr>
        <tr onclick="window.location.href='admin/oppdatere'" style="cursor: pointer;">
            <td>123456789</td>
            <td>Saksbehandler</td>
            <td>Ahmet Kirac</td>
            <td>Kristiansand</td>
            <td>Kristreferfiansa@gmail.com</td>
            <td>123456789</td>
        </tr>
        <tr onclick="window.location.href='admin/oppdatere'" style="cursor: pointer;">
            <td>123456789</td>
            <td>Saksbehandler</td>
            <td>Ahmet Kirac</td>
            <td>Kristiansand</td>
            <td>Kristreferfiansa@gmail.com</td>
            <td>123456789</td>
        </tr>
        <tr onclick="window.location.href='admin/oppdatere'" style="cursor: pointer;">
            <td>123456789</td>
            <td>Saksbehandler</td>
            <td>Ahmet Kirac</td>
            <td>Kristiansand</td>
            <td>Kristreferfiansa@gmail.com</td>
            <td>123456789</td>
        </tr>
    </tbody>
</table>