@model KartApplication.Models.AreaChange
@{
    ViewData["Title"] = "Kvittering";
    Layout = "~/Views/Shared/_GjestLayout.cshtml"; 
}






<center>
            <h1>Saken er mottatt!</h1>

            <table class="details-table">
                <tr>
                    <th>Referansenummer</th>
                    <td><p>@Model.Id</p>
</td>
                </tr>
                <tr>
                    <th>Dato</th>
                    <td>@Model.Dato.ToString("dd.MM.yyyy")</td>
                </tr>
            </table>

            <p class="info-text">Du kan følge opp saken din med referansenummeret.</p>

            <p class="thank-you-text">TUSEN TAKK FOR HJELP!</p>

            <button class="print-button" onclick="printContent()">Skriv ut</button>
        </div>
    </div>

    <script>
        // Yalnızca .content içeriğini yazdıran fonksiyon
        function printContent() {
            var content = document.querySelector('.content').innerHTML;
            var originalContent = document.body.innerHTML;

            // Sayfanın geri kalanını gizleyip sadece içeriği yazdırır
            document.body.innerHTML = content;
            window.print();

            // Orijinal sayfa içeriğini geri getirir
            document.body.innerHTML = originalContent;
        }
    </script>

</center>
