@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.IsLeggTilAnsatt = true; @* Vi sørger for at denne siden kun inneholder skjema *@
}

<div class="legg-til-ansatt-form">
    <div class="form-header">
        <h4>Oppdatere ansatt</h4>
        <span class="employee-id">32874609835</span> @* ID numarasını buraya ekledim *@
    </div>
    
    <form>
        <div class="form-group">
            <label for="navn">Navn</label>
            <input type="text" id="navn" name="navn" class="form-control" />
        </div>
        <div class="form-group">
            <label for="etternavn">Etternavn</label>
            <input type="text" id="etternavn" name="etternavn" class="form-control" />
        </div>
        <div class="form-group">
            <label for="mobilnummer">Mobilnummer</label>
            <input type="text" id="mobilnummer" name="mobilnummer" class="form-control" />
        </div>
        <div class="form-group">
            <label for="epost">E-postadresse</label>
            <input type="email" id="epost" name="epost" class="form-control" />
        </div>
        <div class="form-group">
            <label for="kommune">Kommune</label>
            <input type="text" id="kommune" name="kommune" class="form-control" />
        </div>
        <div class="form-group">
            <label for="rolle">Rolle</label>
            <select id="rolle" name="rolle" class="form-control">
                <option>Velg</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
        </div>
        <div class="form-actions">
            <button type="button" class="btn btn-secondary">Avbryt</button>
                        <button type="submit" class="btn btn-primary">Lagre</button>

            <button type="button" class="btn btn-danger">Slett</button> @* Yeni eklenen Slett butonu *@
        </div>
    </form>
</div>
