@using Microsoft.AspNetCore.Identity
@using KartApplication.Models 
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="bottom-menu">
            @* <li>
                <a asp-area="Identity" asp-controller="Manage" asp-action="Index" title="Manage">
                    Hei, @UserManager.GetUserAsync(User).Result.Name!
                </a>
            </li>
 *@            <li>

   
                <button type="submit" class="btna"> <i class="bi bi-door-open"></i> Logg ut </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Register">Kayıt Ol</a></li>
    </ul>
}

<style>

  .btna {
    background-color: #dc3545; /* Kırmızı arka plan rengi */
    color: white;              /* Yazı rengi */
    border: none;              /* Kenarlık yok */
    padding: 10px;             /* İç boşluk */
    cursor: pointer;           /* İmleci el yapar */
    font-size: 18px;          /* Yazı boyutu */
    width: 100%;              /* Genişlik */
    text-align: left;         /* Yazı hizalaması */
    border-radius: 0px;       /* Kenar yuvarlaklığı */
    display: flex;            /* Flexbox kullanarak içeriği hizalama */
    align-items: center;      /* Dikey ortalama */
    text-decoration: none;    /* Alt çizgiyi kaldır */
}

.btna:hover {
    background-color: #c82333; /* Hover durumu için arka plan rengi */
}

.btna i {
    margin-right: 8px; /* İkon ile metin arasındaki boşluk */
}

</style>
