@using Microsoft.AspNetCore.Identity
@using KartApplication.Models   
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    string userName = "User"; // Standardverdi
    string userSurname = ""; // Startverdi for etternavn lagt til
    
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        if (user != null)
        {
            userName = user.Name ?? "User"; // Hvis user.Name er null, bruk "User"
            userSurname = user.Surname ?? ""; // Hvis user.Surname er null, bruk tom verdi
        }
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <span title="Manage">
                    Velkommen @(char.ToUpper(userName[0]) + userName.Substring(1)) 
                </span>
            </li>
            @* <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logge ut</button>
            </li> *@
        </ul>
    </form>
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Login">Logg Inn</a></li>
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Register">Registrer</a></li>
    </ul>
}


<style>.navbar-nav li {
    list-style-type: none; /* Fjern liste-stil */
}</style>
