@using Microsoft.AspNetCore.Identity
@using KartApplication.Models   
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    string userName = "User"; // Varsayılan değer
    string userSurname = ""; // Surname için başlangıç değeri ekledik
    
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        if (user != null)
        {
            userName = user.Name ?? "User"; // Eğer user.Name null ise "User" kullan
            userSurname = user.Surname ?? ""; // Eğer user.Surname null ise boş değer kullan
        }
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <span title="Manage">
                    Velkommen, @userName @userSurname
                </span>
            </li>
            @* <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logge ut</button>
            </li> *@
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Register">Kayıt Ol</a></li>
    </ul>
}
