@using Microsoft.AspNetCore.Identity
@using KartApplication.Models 
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="bottom-menu">
            @* <li>
                <a asp-area="Identity" asp-controller="Manage" asp-action="Index" title="Manage">
                    Hei, @UserManager.GetUserAsync(User).Result.Name!
                </a>
            </li>
 *@            <li>
                <!-- Logg ut knappen -->
                <button type="submit" class="btna"> <i class="bi bi-door-open"></i> Logg ut </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <!-- Logg Inn og Registrer knapper -->
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Login">Logg Inn</a></li>
        <li><a asp-area="Identity" asp-controller="Account" asp-action="Register">Registrer</a></li>
    </ul>
}

<style>

  .btna {
    background-color: #dc3545; /* Rød bakgrunnsfarge */
    color: white;              /* Tekstfarge */
    border: none;              /* Ingen kant */
    padding: 10px;             /* Innvendig polstring */
    cursor: pointer;           /* Musepekeren blir til en hånd */
    font-size: 18px;           /* Tekststørrelse */
    width: 100%;               /* Bredde */
    text-align: left;          /* Tekstjustering */
    border-radius: 0px;        /* Ingen avrundede kanter */
    display: flex;             /* Bruker flexbox for å justere innholdet */
    align-items: center;       /* Vertikal justering */
    text-decoration: none;     /* Fjern understrekning */
}

.btna:hover {
    background-color: #c82333; /* Bakgrunnsfarge ved hover */
}

.btna i {
    margin-right: 8px; /* Mellomrom mellom ikonet og teksten */
}

</style>
