<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    
    <!-- Ortak CSS Dosyası -->
<link rel="stylesheet" href="~/css/saksbehandler.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    
    @RenderSection("Head", required: false)
</head>
<body>
        <div class="outer-container">
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="~/images/as.png" alt="Logo" style="width: auto; height: 150px;">
            </div>
            <div class="header-right">
                <h2>Velkommen Ahmet Kirac</h2>
                <p>Saksbehandler</p>
            </div>
        </div>
    </header>
   
    <div class="main-container">
          <nav class="menu">
    <!-- Sol Menü İçeriği -->
    <ul class="top-menu">
        <li><a href="/Saksbehandler/index" class="menu-item"> <i class="bi bi-folder"></i> Aktive Saker</a></li>
        <li><a href="/Saksbehandler/FerdigeSaker" class="menu-item"> <i class="bi bi-folder-check"></i> Ferdige Saker</a></li>
    </ul>

    <ul class="bottom-menu">
        <li><a href="/Saksbehandler/Profil" class="menu-item"><i class="bi bi-person-circle"></i> Profil </a></li>
       <partial name="_LoginPartial2" />
    </ul>
</nav>



    <div class="content-top">






<main class="content">

                   @RenderBody()

            </main>
</div>

        
    </div> </div>

    <footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            &copy; 2024 - KartverketWebApplication
        </div>

        <div class="footer-right">
            <div class="footer-links">
                <a href="/About">Om oss</a>
                <a href="/Privacy">Personvern</a>
                <a href="/Terms">Vilkår</a>
                <a href="/Contact">Kontakter</a>
                <a href="/Tips">Tips oss</a>
            </div>
        </div>
    </div>
</footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
