@model KartApplication.Models.AreaChange
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_KontrollerenLayout.cshtml"; 
}
     <div class="search-filter-container">
    <!-- Sol Taraf: Arama Kutusu -->
    <div class="search-box">
        <input type="text" placeholder="Søk" class="search-input">
        <button class="search-btn">Søk</button>
    </div>

</div>
<br>
<table class="tablesaksbehandler" id="saksbehandlermenu">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Referansenummer</th>
            <th></th> <!-- Vis sak için boş başlık -->
        </tr>
    </thead>
    <tbody id="saksbehandlersaks">
        <tr onclick="goToDetails(12);" style="cursor: pointer;">
            <td>12.12.2023</td>
            <td>123456789</td>
            <td class="vis-sak">Vis sak</td> <!-- Vis sak burada -->
        </tr>
        <tr onclick="goToDetails(12);" style="cursor: pointer;">
            <td>12.12.2023</td>
            <td>987654321</td>
            <td class="vis-sak">Vis sak</td> <!-- Vis sak burada -->
        </tr>
        <tr onclick="goToDetails(1ff2);" style="cursor: pointer;">
            <td>12.12.2023</td>
            <td>654987321</td>
            <td class="vis-sak">Vis sak</td> <!-- Vis sak burada -->
        </tr>
          <tr onclick="goToDetails(12);" style="cursor: pointer;">
            <td>12.12.2023</td>
            <td>987654321</td>
            <td class="vis-sak">Vis sak</td> <!-- Vis sak burada -->
        </tr>
          <tr onclick="goToDetails(12);" style="cursor: pointer;">
            <td>12.12.2023</td>
            <td>987654321</td>
            <td class="vis-sak">Vis sak</td> <!-- Vis sak burada -->
        </tr>
          <tr onclick="goToDetails(12);" style="cursor: pointer;">
            <td>12.12.2023</td>
            <td>987654321</td>
            <td class="vis-sak">Vis sak</td> <!-- Vis sak burada -->
        </tr>
          <tr onclick="goToDetails(12);" style="cursor: pointer;">
            <td>12.12.2023</td>
            <td>987654321</td>
            <td class="vis-sak">Vis sak</td> <!-- Vis sak burada -->
        </tr>
          <tr onclick="goToDetails(12);" style="cursor: pointer;">
            <td>12.12.2023</td>
            <td>987654321</td>
            <td class="vis-sak">Vis sak</td> <!-- Vis sak burada -->
        </tr>
          <tr onclick="goToDetails(12);" style="cursor: pointer;">
            <td>12.12.2023</td>
            <td>987654321</td>
            <td class="vis-sak">Vis sak</td> <!-- Vis sak burada -->
        </tr>
        <tr onclick="goToDetails(12);" style="cursor: pointer;">
            <td>12.12.2023</td>
            <td>321654987</td>
            <td class="vis-sak">Vis sak</td> <!-- Vis sak burada -->
        </tr>
    </tbody>
</table>
