@model List<SakModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_KontrollerenLayout.cshtml"; 
}
     <div class="search-filter-container">
    <!-- Sol Taraf: Arama Kutusu -->
    <div class="search-box">
        <input type="text" placeholder="Søk" class="search-input">
        <button class="search-btn">Søk</button>
    </div>

</div>
<br>
<center><h2>Tilordnede Saker</h2></center>
<br>
<table class="tablesaksbehandler" id="saksbehandlermenu">
    <thead>
        <tr>
            <th>Dato</th>
            <th>Referansenummer</th>
            <th>Kontroll Status</th>
        </tr>
    </thead>
    <tbody id="saksbehandlersaks">
        @foreach (var sak in Model)
        {

            <tr onclick="window.location.href='@Url.Action("Detaljer", "Kontrolleren", new { id = sak.Id })'" style="cursor: pointer;">

                <td>@sak.CreatedAt.ToShortDateString()</td>
                <td>@sak.Id</td>
                <td>@sak.ArbeidStatus</td>
                
            </tr>
        }
    </tbody>
      
</table>
