@model KartApplication.Models.AreaChange
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_GjestLayout.cshtml";
}

<br>
<center><h2>Velg Sted</h2></center>

<!-- Harita konteyneri -->
<div id="map" style="height: 400px; width: 100%; position: relative;">
    <!-- Arama kutusunu haritanın içinde yapacak kapsayıcı -->
    <div id="search-container" style="position: absolute; top: 10px; right: 0; margin-right:10px; z-index: 1000; width: 400px;">
        <div class="input-group">
            <input type="text" id="searchInput" name="address" class="form-control" placeholder="Enter full address" aria-label="Search Address" autocomplete="off" />
            <div class="input-group-append">
                <button type="button" class="btn-primary" id="searchAddressBtn">
                    <i class="bi bi-search black-icon"></i> <!-- Bootstrap büyüteç ikonu -->
                </button>
            </div>
        </div>
        <!-- Öneriler için dropdown menü -->
        <div id="suggestions" class="suggestions-dropdown" style="display: none;">
            <!-- Öneriler buraya eklenecek -->
        </div>
    </div>
</div>
<br />

<!-- Koordinatları tablo halinde göstermek için -->
<h3>Valgte Koordinater:</h3>
<table class="table table-bordered" id="coordinatesTable">
    <thead>
        <tr>
            <th>#</th>
           <th>Breddegrad</th>
            <th>Lengdegrad</th>
        </tr>
    </thead>
    <tbody id="coordinatesTableBody">
        <!-- Koordinatlar buraya eklenecek -->
    </tbody>
</table>

<!-- Form -->
<form asp-controller="Gjest" asp-action="Index" method="post" onsubmit="return validateForm()">
    <input type="hidden" id="geoJsonInput" name="geoJson" /> <!-- GeoJSON verisini saklamak için gizli alan -->
    <input type="hidden" id="addressInput" name="address" /> <!-- Adres verisini saklamak için gizli alan -->
    <input type="hidden" id="selectedMapType" name="selectedMapType" value="fargekart" /> <!-- Seçilen harita tipini saklamak için gizli alan -->
    <br />
        <button type="submit" class="btn btn-primary" style="background-color: #006aff; color: white; padding: 10px 20px; border-radius: 5px; border: none; cursor: pointer;">Neste</button>
</form>