@model KartApplication.Models.AreaChange
@{
    ViewData["Title"] = "Oversikt";
    Layout = "~/Views/Shared/_GjestLayout.cshtml";
}
<br>
<center><h2>Oppsummering</h2></center>



@if (!string.IsNullOrEmpty(Model.Description))
{
    
   <div class="OppsummeringBox">    

    <div class="OppsummeringContentTitle">    <img src="~/images/check-mark.png" alt="Checkbox" class="checkboxImage"> <!-- Resim yolu güncellendi -->
 Beskrivelse: </div>
