<div class="container">
    <!-- Sol Menü -->
    <div class="sidebar">
        <img src="/images/logo.png" alt="Logo" class="logo">
        <button class="menu-btn">Hjem</button>
        <button class="menu-btn">Mine Saker</button>
        <button class="menu-btn profile-btn">Profil</button>
        <button class="menu-btn logout-btn">Logg ut</button>
    </div>

    <!-- Sağ Tarafta Giriş Formu -->
    <div class="login-right">
        <div class="account-box">
            <h2 class="text-center mb-4">Logg inn</h2>
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <div class="mb-3">
                    <label @* asp-for="Email" *@ class="form-label">E-postadresse</label>
                    <input @* asp-for="Email"  *@class="form-control" placeholder="E-postadresse" />
                    <span @* asp-validation-for="Email"  *@class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label @* asp-for="Password" *@ class="form-label">Passord</label>
                    <input @* asp-for="Password" *@ class="form-control" placeholder="Passord" />
                    <span @* asp-validation-for="Password" *@ class="text-danger"></span>
                </div>
                <div class="float-end">
                    <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">
                        Glemt passord?
                    </a>
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input @* asp-for="RememberMe" *@ class="form-check-input" />
                        Husk meg test
                    </label>
                </div>
                <input type="submit" value="Logg inn" class="btn btn-primary w-100 p-2" />
                <p class="text-center mt-2">
                    Har du ikke en konto? <a asp-controller="Register" asp-action="Register" class="text-decoration-none">Registrer </a>
                </p>
                
                <input type="submit" value="Gjest" class="btn btn-success w-100 p-2" />
            </form>
        </div>

        <!-- Alt Bilgi -->
        <footer>
            <p>© 2024 Kartverket. Alle rettigheter forbeholdt.</p>
        </footer>
    </div>
</div>