@page
@model ConfirmEmailModel

@{
    ViewData["Title"] = "Bekreft e-post";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="containerRegister">
    <div class="containerRegisterTitle"> <!-- Sınıf adı düzeltildi -->
        @ViewData["Title"]
    </div>

    <div class="containerRegisterDetalje"> <!-- Sınıf adı düzeltildi -->
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        
        
<a href="/Identity/Account/Login" class="loginGoButton">Giriş Yap</a>

    </div>
</div>
