@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="containerRegister">
    <div class="containerRegisterTitle"> <!-- Sınıf adı düzeltildi -->
@ViewData["Title"]
    </div>

    <div class="containerRegisterDetalje"> <!-- Sınıf adı düzeltildi -->
     <p>
    Please check your email to reset your password.
</p>

    </div>
</div>






