@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrer bekreftelse";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="containerRegister">
<div class="containerRegisterTitle">


@ViewData["Title"]

</div>

<div class="tainerRegisterDetalje">
@{
    if (@Model.DisplayConfirmAccountLink)
    {
 <p>
                    Denne appen har for øyeblikket ikke en ekte e-postsender registrert. Se <a href="https://aka.ms/aspaccountconf">disse dokumentene</a> for å konfigurere en ekte e-postsender.
                    Normalt ville dette blitt sendt på e-post: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klikk her for å bekrefte kontoen din</a>
                </p>
            }
            else
            {
                <p>
                    Vennligst sjekk e-posten din for å bekrefte kontoen din.
                </p>
    }
}
</div>
</div>
