<h1>USERS LIST</h1>
<table class="">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var users in Model){
        <tr>
                <td>users.Name</td>
                <td>users.Email</td>
                <td>users.Password</td>
        </tr>
        } 
    </tbody>
</table>