@{
    ViewData["Title"] = "Saksbehandler Sayfasi";
    Layout = "~/Views/Shared/_SaksBehandlerLayout.cshtml"; 

}

<table class="tablesaksbehandler" id="saksbehandlermenu">
    <thead>
        <tr>
            <th>Dato</th>
            <th>ID</th>
            <th>Sak Status</th>
            <th>Kontroll Status</th>
        </tr>
    </thead>
    <tbody id="saksbehandlersaks">
        <tr onclick="goToDetails(12);" style="cursor: pointer;">
            <td>20.10.2024</td>
            <td>543216789</td>
            <td>Aktivt</td>
            <td>Ikke Tilordnet</td>
        </tr>
        <tr onclick="goToDetails();" style="cursor: pointer;">
            <td>20.10.2024</td>
            <td>543216789</td>
            <td>Aktivt</td>
            <td>Tilordnet</td>
        </tr>
    </tbody>
</table>

<script>
    function goToDetails(id) {
        window.location.href = '/saks/detaljer/' + id;
    }
</script>

